<div id="calendar"></div>

<script type="text/javascript">
  $(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      eventSources: [
        {
          url: '/date_record.json',
          type: 'GET',
          success: function() {
            $(".ajax-loading").hide();
          },
          failure: function() {
            $(".ajax-loading").hide();
            alert('there was an error while fetching events!');
          }
        }
      ],

      eventClick: function(event) {
        // opens events in a popup window
        window.open(event.url, '_blank', 'width=700,height=600');
        return false;
      }
    });

  });
</script>