<!DOCTYPE html>
<html>
  <head>
    <!-- ... -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>


  
    <%= stylesheet_link_tag "active_admin" %>
    <!-- ... -->
  </head>
  
  <body>
    <!-- ... -->
    <%= yield %>
    <!-- ... -->
  </body>
</html>